<div class="row gy-5 gx-xl-8">
  <!-- begin::Header -->
  <div class="card card-xxl-stretch mb-5 mb-xl-8">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Usuarios</span>
          <span class="text-muted mt-1 fw-bold fs-7">Listar</span>
        </h3>
        <div
          class="card-toolbar"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-trigger="hover"
          title="Click to add a user"
        >
          <button
            class="btn btn-sm btn-light-primary"
            (click)="console.log('click')"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
              class="svg-icon svg-icon-3">
            </span>
            Nuevo
          </button>
        </div>
      </div>
    <app-table
            [headers]="yourHeadersData"
            [data]="yourDataRows"
            [totalEntries]="yourTotalEntriesValue"
            (interaction)="onTableInteraction($event)"
            (menuChange)="onMenuChange($event)"
    ></app-table>

  </div>
</div>
