<div class="d-flex align-items-center pt-10">

  <!-- Contenedor del texto -->
  <div class="flex-grow-1 fs-6 fw-bold text-gray-700">
    <span class="d-none d-md-inline">Mostrando </span>
    {{ (_currentPage - 1) * _selectedItemsPerPage + 1 }} a
    {{ Math.min(_currentPage * _selectedItemsPerPage, totalEntries) }}
    <span class="d-none d-md-inline"> de </span> {{ totalEntries }}
    <span class="d-none d-md-inline"> datos</span>
  </div>

  <!-- Selector de elementos por página -->
  <div class="form-group d-none d-md-flex align-items-center mr-3" style="position: relative; width: 150px;">
    <div class="fs-6 fw-bold text-gray-700 spacing">
      Mostrar:
    </div>
    <select id="itemsPerPageSelect" [(ngModel)]="_selectedItemsPerPage" (change)="onItemsPerPageChange()" class="custom-select2">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>
    <span class="custom-select2-arrow">
        <i class="fas fa-chevron-down"></i>
    </span>
  </div>

  <!-- Paginación -->
  <div style="width: 200px;">
    <ul class="pagination mb-0">
      <!-- Ir a la primera página -->
      <li class="page-item" [class.disabled]="_currentPage === 1">
        <a class="page-link cursor-pointer" (click)="setCurrentPage(1)">
          <i [style.color]="_currentPage === 1 ? 'gray' : 'black'" class="fas fa-angle-double-left"></i>
        </a>
      </li>
      <!-- Anterior página -->
      <li class="page-item" [class.disabled]="_currentPage === 1">
        <a class="page-link cursor-pointer" (click)="setCurrentPage(_currentPage - 1)">
          <i [style.color]="_currentPage === 1 ? 'gray' : 'black'" class="fas fa-angle-left"></i>
        </a>
      </li>
      <!-- Siguiente página -->
      <li class="page-item" [class.disabled]="_currentPage === getTotalPages()">
        <a class="page-link cursor-pointer" (click)="setCurrentPage(_currentPage + 1)">
          <i [style.color]="_currentPage === getTotalPages() ? 'gray' : 'black'" class="fas fa-angle-right"></i>
        </a>
      </li>
      <!-- Ir a la última página -->
      <li class="page-item" [class.disabled]="_currentPage === getTotalPages()">
        <a class="page-link cursor-pointer" (click)="setCurrentPage(getTotalPages())">
          <i [style.color]="_currentPage === getTotalPages() ? 'gray' : 'black'" class="fas fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
